@import "reset";
@import "fonts";
@import "colors";
@import "override_bootstrap";
@import "header";
@import "mixins";
@import "logo";
@import "animations";
@import "footer";

.bgInicio{
    width: auto;
    height: 85vh;
    background-image: url(../assets/img/Fondoprincipal.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
    .imgInicio{
        height: auto;
        width: 10rem;
        margin: 0, 2rem;
        animation-name: rotacion;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-duration: 15s;
        animation-delay: 3s;
    }
}
.logoEquipo{
    width: auto;
    height: $height;
}
.fundadores{
    width: auto;
    height: $height;
}
.imgNews{
    width: auto;
    height: 25vh;
    background-image: url(../assets/img/packersnews.png);
    background-position: center;
    background-size: contain;
    background-repeat: repeat;
}
.imgEventos{
    height: 50vh;
    width: auto;
    object-fit: cover;
    object-position: center;
}

.enlace{
    &:hover{
        color: $secondary-color;
    }   
}

.tarjeta {
    @include tarjeta;
    margin-top: 1rem;
    transition: transform 2s;
    
    &:hover {
        transform: scale(1.1)
    }
}

$colores-producto: (
    titulo: $primary-color,
    precio: $background-color,
    boton: $secondary-color,
); 

@each $seccion, $color in $colores-producto {
    .producto--#{$seccion}{
        color: $color
    }
}

  




